/* General Body Styles */
html,body {
    margin: 0;
    padding: 0;
    width: 100%; /* Ensures that body takes full viewport width */
    height: 100%; /* Ensures that body takes full viewport height */
    overflow-x: hidden; /* Prevents horizontal scroll */
}

body {
    font-family:  Roboto;
    line-height: 1em;
    background:rgb(226, 253, 253); /* Ensures text color is white */
    color: white;
    font-size: 15px;
}

#santa {
    text-align: center;
    height: auto;
    width: 100%;
    max-height: 40vh;
    border-radius: 50px;
}
  
#count {
    position: relative; /* Context for absolute positioning of children */
    display: block;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

#countdown {
    display: flex;
    align-items: center;
    position: relative;
    animation: 15s slide infinite linear;
    font-size: 50px;
    width: 100%; /* Ensures text alignment and animation boundaries are correct */
    text-align: center; /* Centers the text, adjust as needed */
    color: red;
}

#countdown img{
    position: inherit;
    animation: 15s slide infinite linear;
    height: 70px;
}

@keyframes slide {
    from {
        transform: translateX(100%); /* starts off-screen to the right */
    }
    to {
        transform: translateX(-100%); /* ends off-screen to the left, adjust based on your text width */
    }
}

#santa img {
    height: auto;
    width: 100%;
    max-height: 40vh;
    border-radius: 50px;
    overflow:visible;
    border-bottom: 1px solid #ffffff;    /* Adds a nice border around the text box */
    display: block;
}

/* Taskbar Styling */
#taskbar {
    background: linear-gradient(to right, #0f3340e6, #7ab6cbcc);
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#taskbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centers the navigation items horizontally */
    margin: 0;
}

#taskbar li {
    display: inline-block; /* Changed to inline-block for better control */
    margin: 10 10px; /* Adjusted margin for better spacing */
    padding: 10px 20px; /* Padding for clickable area */
    border-right: 2px solid white; /* Adds a white border to separate items */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

#taskbar li:last-child {
    border-right: none; /* Removes the border from the last item */
}

#taskbar li:hover {
    background-color: white;
    color: #0f3340e6; /* Dark red text on hover */
}

#taskbar a img {
    width: 20px; /* Sets a fixed width for consistency */
    height: 20px; /* Maintains aspect ratio */
    margin-left: 5px; /* Adds a little space between the text and the image */
}

#taskbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: flex; /* Makes the text and the image align nicely */
    align-items: center; /* Centers the items vertically */
    font-weight: bold;
}

/* Content Styling */
#content {
    display: flex;                /* Enables flexbox */
    justify-content: center;      /* Centers content horizontally */
    width: 100%;                  /* Ensures the container fills the width of its parent */
    background-color:#cee0d4; /* Optional: ensures background does not affect design */
    border-bottom: 1px solid #ffffff;    /* Adds a nice border around the text box */ ;

}

#content .about {
    border-radius: 5px;
    flex: 1;                       /* Allows the text box to grow as needed */
    background-color: #26475332;    /* Dark background for content */
    padding: 20px;                /* Adjusted padding for a more balanced spacing */
    border: 3px transparent;    /* Adds a nice border around the text box */
    text-align: left;             /* Text alignment to the left */
    width: auto;               /* Limits the maximum width to maintain aesthetics */
    margin-top: 25px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    height: auto;
    background-image: url("../images/pattern.png"); 
    background-size: cover;        /* Cover the entire area of the element without stretching */
    background-position: center;   /* Center the background image within the element */
    background-repeat: no-repeat;  /* Do not repeat the background image */
    
}

#content .about .aboutme {
    font-family: cursive;
    font-size: xx-large;
    text-align: center;
}

#content .about p {
    font-family: cursive;
    font-size: 30px;
    text-align: center;
}

#content .image {
    flex: 1;                       /* Allows the image box to grow as needed */
    display: flex;                /* Ensures that any content within this div is also flex (if needed) */
    align-items: center;          /* Centers content vertically within the image area */
    justify-content: center;      /* Centers content horizontally within the image area */
    max-width:fit-content;         /* Limits the maximum width to maintain aesthetics */
    opacity: .8;
}

#content .image img {
    width: 100%;                  /* Adjusts the width to fill the container */
    height: auto;                 /* Keeps the image's aspect ratio */
}



#footer {
    background-color: #333; /* Dark background for content */
    text-align: center;
    padding: 50px 20px;
}
