doctype html
html
  head
    title SawSanta
    link(rel='stylesheet' type='text/css' href='../css/main.css')
  body
    section#santa
      img(src='../images/saw.webp')
    header
      nav#taskbar
        ul
          li
            a(href='/') SAW Santa 
              img(src='../images/santalogo.webp')
          li
            a(href='/') About
          li
            a(href='#pricing') Pricing
          li
            a(href='#contact') Contact

    section#content
      .about
        .aboutme 
          h1 About Summer & Winter Santa
          p Bla bla bla bla bla bla bla 
      .image 
        img(src='../images/santachair.webp')

    section#footer
      h1 Welcome to Our Website
      p Here is where you can put more information or welcome text for your visitors.
